.row {
  clear: both;
}
.thumbnail, .excerpt {
  float: left;
}

.row {}

.thumbnail {
  margin-left: 20px;
}

.excerpt {
  width: calc(100% - 170px);
}

.clear {
  clear: both;
}

@media screen and (max-width: 580px) {
    .excerpt {
      .subtitle {
        display: none;
      }
    }
}

// Shadows

.size-thumbnail {
  box-shadow: $Shadow2;
  &:hover {
    box-shadow: $Shadow1;
  }
}

p img {
  box-shadow: $Shadow3;
  &:hover {
    box-shadow: $Shadow2;
  }
}
