// TYPE

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $SansSerif;
  & a {
  	color: inherit;
  	text-decoration: none;
  	border-bottom: none;
  }
}

h1 {
	font-weight: 700;
	font-style: normal;
	font-size: 36px;
	line-height: 1.15;
	letter-spacing: -0.02em;
}

.heading-first {
	font-weight: 700;
	font-style: normal;
	font-size: 33px;
	line-height: 1.15;
	letter-spacing: -0.02em;
	margin-bottom: 3em;
	margin-top: 0;
}

h2,
.heading-first small {
	font-family: $SansSerif;
	letter-spacing: -0.02em;
	font-style: normal;
	font-size: 25px;
	line-height: 1.22;
	letter-spacing: -0.022em;
	margin-top: 58px;
}

.heading-first small {
  color: $Color02;
}

p, ul, li {
	font-family: $Serif;
	letter-spacing: .01rem;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	line-height: 1.58;
	letter-spacing: -0.003em;
	color: $Color01;
	margin-top: 0;
	& a {
		text-decoration: none;
		border-bottom: 1px solid #dcdcdc;
		color: $ColorLink;
		&:hover {
			border-bottom: 1px solid $ColorLink;
      text-decoration: none;
		}
	}
}

header a,
footer a {
	color: inherit;
  	text-decoration: none;
  	border-bottom: none;
  	&:hover {
  		border-bottom: none;
  	}
}

pre {
	font-family: $Code;
	background: $Color01;
	color: #fff;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	line-height: 1.58;
	letter-spacing: -0.003em;
	overflow-x: auto;
	padding: 18px;
}

blockquote p {
  font-family: $SansSerif;
  font-weight: 300;
  font-size: 28px;
  margin-left: -1.75px;
  line-height: 1.48;
  letter-spacing: -.014em;
  color: $Color02;
  cite {
    &::before{
      content: ' (';
    }
    &::after{
      content: ').';
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
  	text-decoration: underline;
  }
}

// Display date

.date {
	letter-spacing: 0;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	color: $Color02;
	font-family: $SansSerif;
	line-height: 1.58;
}

// Headings shown after the date

.list-heading {
	margin-top: 0;
	line-height: 1.58;
	font-size: 21px;
	margin-bottom: 0;
}

//

.home-section {
	margin: 60px 0;
	font-size: 28px;
}

//

.section-plus {
	float: right;
}

//

.heading-excerpt {
	font-weight: 400;
	font-style: normal;
	font-size: 36px;
	line-height: 1.15;
	letter-spacing: -0.02em;
	font-family: $SansSerif;
	margin: 0;
	color: $Color02;
}

//

.heading-interior {
	margin-bottom: 180px;
}
