@import 'variables';
@import 'header';
@import 'typography';

* {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

body {
	margin: 0;
	padding: 0;
}

.container {
	max-width: 700px;
	margin: 0 auto;
	padding: 0 20px;
	margin-top: 90px;
}

img {
max-width: 100%;
height: auto !important;
margin-bottom: 18px;
}

.more-link {
	display: none;
}

ul.social-links {
  padding: 0;
}

.social-links li {
	display: inline-block;
	margin: 0 12px;
}

footer {
	text-align: center;
	margin: 200px 0 50px 0;
}

// Display date

.date {
	letter-spacing: 0;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	color: $Color02;
	font-family: $SansSerif;
	line-height: 1.58;
}

// Headings shown after the date

.list-heading {
	margin-top: 0;
	line-height: 1.58;
	font-size: 18px;
	margin-bottom: 0;
}

//

.home-section {
	margin: 60px 0;
	font-size: 25px;
}

//

.section-plus {
	float: right;
}

//
